<p>
  <span>Contacts</span>
  <button mat-icon-button type="button" (click)="addContact()">
    <mat-icon>add_circle</mat-icon>
  </button>
</p>
<app-text-field placeholder="Phone"
                *ngFor="let formControl of formArray.controls"
                [formControl]="formControl"></app-text-field>
