<mat-toolbar color="primary">
  <h1>Angular Forms Example</h1>
</mat-toolbar>
<div class="body">
  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        Standalone component
      </mat-expansion-panel-header>
      <app-text-field #textFieldComponent isTextArea placeholder="Comment" [(value)]="comment"></app-text-field>
      <p>Current Value:</p>
      <pre>{{ textFieldComponent.value }}</pre>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Template Driven Forms
      </mat-expansion-panel-header>
      <form #templateDrivenForm="ngForm" (ngSubmit)="submitForm(templateDrivenForm.form)">
        <app-customer-profile></app-customer-profile>
        <app-contact></app-contact>
        <button mat-raised-button color="accent" type="submit">Submit</button>
        <button mat-raised-button type="reset">Reset</button>
        <p>Current Value:</p>
        <pre>{{ prettyPrint(templateDrivenForm.value) }}</pre>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Reactive Forms
      </mat-expansion-panel-header>
      <form [formGroup]="reactiveForms" (ngSubmit)="submitForm(reactiveForms)">
        <app-customer-profile></app-customer-profile>
        <app-contact formArrayName="contacts"></app-contact>
        <button mat-raised-button color="accent" type="submit">Submit</button>
        <button mat-raised-button type="reset">Reset</button>
      </form>
      <p>Current Value:</p>
      <pre>{{ prettyPrint(reactiveForms.value) }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
</div>
