<mat-form-field class="text-field" *ngIf="isTextArea; else inputTemplate">
  <mat-placeholder>{{ placeholder }}</mat-placeholder>
  <textarea matInput matTextareaAutosize
            [errorStateMatcher]="errorStateMatcher"
            [ngModel]="value"
            (ngModelChange)="onChange($event)"
            (blur)="onTouched()"></textarea>
  <mat-error>Please enter a correct value.</mat-error>
</mat-form-field>

<ng-template #inputTemplate>
  <mat-form-field class="text-field">
    <mat-placeholder>{{ placeholder }}</mat-placeholder>
    <input matInput
           [errorStateMatcher]="errorStateMatcher"
           [ngModel]="value"
           (ngModelChange)="onChange($event)"
           (blur)="onTouched()" />
    <mat-error>Please enter a correct value.</mat-error>
  </mat-form-field>
</ng-template>
